.header {
  border-bottom: 1px var(--border-header-color);
}

.header_link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--secondary-title-color);

  padding-top: 32px;
  padding-bottom: 32px;

  position: relative;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
  &.current {
    color: var(--accent-color);
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 4px;
      border-radius: 2px;
      background-color: var(--accent-color);
      display: block;

      bottom: 0;
    }
  }
}

.header_contacts_link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--primary-text-color);

  padding-top: 32px;
  padding-bottom: 32px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header_logo {
  @media screen and (max-width: 768px) {
    font-size: 24px;
    line-height: calc(28 / 24);
  }
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--accent-color);

  margin-right: 93px;

  padding-top: 24px;
  padding-bottom: 24px;
}
.header_logo_word {
  color: var(--secondary-title-color);
}
.header-container {
  display: flex;
  align-items: center;
}
.header_navigation {
  display: flex;
  align-items: center;
}
.header_menu {
  @media screen and (max-width: 767px) {
    display: none;
  }
  display: flex;
  align-items: center;
}

.header_contacts_link:hover,
.header_contacts_link:focus,
.header_contacts_link:hover .header_icon,
.header_contacts_link:focus .header_icon {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.header_icon {
  fill: var(--icon-color);
  vertical-align: middle;
  margin-right: 10px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header_contacts_list {
  @media screen and (max-width: 480px) {
    display: none;
  }
  @media screen and (min-width: 768px) and (max-width: 1200px) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  display: flex;
  align-items: center;
  margin-left: auto;
}

.header_item {
  &:not(:last-child) {
    margin-right: 50px;
  }
}

.header_contacts_item {
  &:not(:last-child) {
    margin-right: 50px;
  }
  @media screen and (min-width: 768px) and (max-width: 1200px) {
    margin-bottom: 10px;
    &:not(:last-child) {
      margin-right: 0px;
    }
  }
}

.js-open-menu {
  @media screen and (min-width: 481px) {
    display: none;
  }
  width: 40px;
  height: 40px;
  background-color: transparent;
  position: absolute;

  border: none;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-left: auto;

  top: 10px;
  right: 15px;

  &:hover,
  &:focus {
    cursor: pointer;
    .menu-open-btn-icon {
      fill: var(--accent-color);
    }
  }

  margin-top: 10px;
  margin-bottom: 10px;
}

.menu-open-btn-icon {
  width: 40px;
  height: 40px;
  // width: 24px;
  // height: 16px;
}

.js-menu-container {
  max-width: 600px;
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 10;

  @media screen and (min-width: 481px) {
    display: none;
  }

  top: 0;
  left: 0;

  background-color: var(--primary-title-color);

  padding: 21px 25px 48px 40px;
  display: flex;
  justify-content: space-between;

  transform: translateX(200%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-container {
  &.is-open {
    transform: translateX(0);
  }
}

.mob-menu-content {
  padding-top: 27px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mob-menu-item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.mob-menu-link {
  font-weight: 500;
  font-size: 40px;
  line-height: calc(47 / 40);
  letter-spacing: 0.02em;

  color: var(--secondary-title-color);
  &.current-mob-menu-link {
    color: var(--accent-color);
  }
}

.mob-menu-tel {
  font-weight: 500;
  font-size: 34px;
  line-height: calc(40 / 30);

  letter-spacing: 0.02em;

  color: var(--accent-color);
}

.mob-menu-email {
  font-weight: 500;
  font-size: 24px;
  line-height: calc(28 / 24);
  letter-spacing: 0.02em;

  color: var(--primary-text-color);
}

.mob-menu-cont-item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.mob-menu-contacts-list {
  margin-bottom: 64px;
}

.m-m-soc-link {
  font-weight: 500;
  font-size: 18px;
  line-height: calc(22 / 18);

  letter-spacing: 0.02em;

  color: var(--accent-color);
}

.mob-menu-social-list {
  display: flex;
  align-items: center;
}

.mob-menu-social-item {
  &:not(:last-child) {
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
}

.js-close-menu {
  width: 40px;
  height: 40px;
  background-color: transparent;

  border: none;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover,
  &:focus {
    cursor: pointer;
    .menu-close-btn-icon {
      fill: var(--accent-color);
    }
  }
}

.menu-close-btn-icon {
  width: 40px;
  height: 40px;
}

.m-m-bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
