:root {
  --primary-title-color: #ffffff;
  --secondary-title-color: #212121;

  --primary-text-color: #757575;

  --accent-color: #2196f3;
  --hover-accent-color: #2196f3e5;

  --bg-color: #2f303a;
  --second-bg-color: #f5f4fa;
  --third-bg-color: #eeeeee;

  --border-header-color: solid #ececec;

  --icon-color: #afb1b8;

  --ourwork-onimage-color: #2f303acc;
  --backdrop-color: #00000033;
}
